
    .carousel-control-custom {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: auto;
        opacity: 1;
        z-index: 15;
    }
    
    .carousel-control-custom .btn-control {
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.2);
        border: 2px solid white;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        cursor: pointer;
        transition: all 0.3s;
    }
    
    .carousel-control-custom .btn-control:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
    
    .carousel-control-custom .btn-control .carousel-control-prev-icon,
    .carousel-control-custom .btn-control .carousel-control-next-icon {
        width: 20px;
        height: 20px;
    }



    
